$icon-area-size: 48px;
$placeholder-font-weight: 200;

$team-font-size: 14px;
$team-icon-size: 24px;

$player-height: $icon-area-size;
$player-font-size: 16px;
$player-icon-size: 18px;
$player-label-colour: #999;
$player-label-font-size: 12px;
